.postsWrapper {
  width: 700px;
  background-color:rgb(240, 210, 171);
  padding: 10px;
  border-radius: 20px;
}

.searchPanelWrapper {
  margin-left: 40px;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.AddPostFormWrapper {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}

.postsTitle {
  font-weight: 500;
  font-size: 25px;
}

.noPostsText {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}