.commentWrapper {
  display: inline-block;
  margin: 3px 0;
  padding: 8px;
  background-color: #e7dcc1;
  border-radius: 10px;
  color: black;
  font-size: 25px;
}

.flex {
  display: flex;
}

.btnDeleteComment {
  border-radius: 50%;
  font-size: 8px;
  border: 2px solid #e99999;
  color: red;
  background-color: transparent;
  cursor: pointer;
}